<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="spencerspenst.psychopath">

    <!-- TODO: make an android:icon -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Play"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/play_button"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <!-- TODO: intent-filter???? -->
        </activity>
        <activity
            android:name=".LevelSelect"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/play_button"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <!-- TODO: intent-filter???? -->
        </activity>
        <activity
            android:name=".Settings"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/settings_button"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <!-- TODO: intent-filter???? -->
        </activity>
        <activity
            android:name=".About"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/about_button"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <!-- TODO: intent-filter???? -->
        </activity>
    </application>

</manifest>